@import "tailwindcss";


.card{
  width: 300px;
  height: 200px;
  padding: 20px;
  background-color: lightblue;
  display: flex;
  margin: 50px;
  justify-content: space-around;
  align-items: center;

}

button{
  background-color: red;
  padding: 10px;
}